language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"
install:
  - travis_retry pip install pyflakes flake8 wheel setuptools virtualenv
before_script:
  - git config --global user.email "foo@example.com"
  - git config --global user.name "foo"
script:
  - easy_install --version
  - virtualenv --version
  - python setup.py make_versioneer
  - python test/git/test_git.py -v
  - python test/git/test_invocations.py -v
  - python setup.py make_long_version_py_git
  - pyflakes setup.py versioneer.py git_version.py
  - pyflakes src/cmdclass.py src/from_file.py src/from_parentdir.py
    src/get_versions.py src/installer.py src/render.py src/setupfunc.py
    src/subprocess_helper.py
  - pyflakes src/git/from_keywords.py src/git/from_vcs.py
    src/git/install.py src/git/long_get_versions.py
  - pyflakes test
  - flake8 git_version.py versioneer.py
